.imagem-carrossel {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.fonte-titulo{
    font-family: 'Pacifico', cursive;
    
}
.alinhamento-titulo-carrossel{
    transform: translateY(-50%);
}
.cor-especial{
    color: darkred!important;
}
.botao-cor-especial{
    color: white;
    background-color: darkred;
}
.borda-cor-especial{
    border-color: darkred;
}
.card-largura{
    max-width: 18rem;
}
.card-posicao-imagem{
    object-fit: cover;
    
    height: 200px;
}
.dialog--newconf{
    display: block;
    border: none;
}